@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900");

:root {
	/* Base font size */
	font-size: 10px;   
	
	/* Set neon color */
	--neon-text-color: #FF69B4;
  }

html,
body {
	/* overflow-x: hidden; */
	height: 100%;
	width: 100%;
	font-family: "Libre Franklin", sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #00000a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Libre Franklin", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Libre Franklin", sans-serif;
	color: #b3b3b3;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	text-align: center;
	margin-bottom: 60px;
}

.section-title span {
	color: #e32879;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section-title h2 {
	font-size: 45px;
	color: #ffffff;
	font-weight: 700;
	margin-top: 14px;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.spad-2 {
	padding-top: 50px;
	padding-bottom: 70px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	font-size: 16px;
	color: #ffffff;
	background: #e32879;
	display: inline-block;
	font-weight: 700;
	padding: 12px 30px 10px;
}

.site-btn {
	font-size: 16px;
	color: #ffffff;
	font-weight: 700;
	padding: 10px 34px;
	display: inline-block;
	background: #e32879;
	border: 1px solid #e32879;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*---------------------
  Header
-----------------------*/

.header-section {
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
}

.logo {
	padding: 24px 0 30px;
}

.logo a {
	display: inline-block;
}

.main-menu {
	text-align: right;
}

.main-menu ul li {
	display: inline-block;
	list-style: none;
	margin-left: 35px;
	position: relative;
}

.main-menu ul li .dropdown {
	position: absolute;
	width: 180px;
	background: #ffffff;
	z-index: 99;
	left: 0;
	top: 90px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.main-menu ul li .dropdown li {
	display: block;
	margin-right: 0;
	text-align: left;
	margin-left: 0;
}

.main-menu ul li .dropdown li a {
	padding: 8px 20px;
	display: block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-transform: capitalize;
	color: #191919;
}

.main-menu ul li .dropdown li a:hover {
	color: #e32879;
}

.main-menu ul li.active a {
	color: #e32879;
}

.main-menu ul li:hover>a {
	color: #e32879;
}

.main-menu ul li:hover .dropdown {
	opacity: 1;
	visibility: visible;
	top: 70px;
}

.main-menu ul li a {
	font-size: 16px;
	color: #ffffff;
	font-weight: 700;
	display: inline-block;
	padding: 25px 0 30px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.slicknav_menu {
	display: none;
}

/*---------------------
  Hero
-----------------------*/

.hero-section {
	padding-top: 300px;
	padding-bottom: 150px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 1
}

.carousel-item {
	height: 100vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hs-text span {
	color: #e32879;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.hs-text h2 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 10px;
}

.hs-text p {
	color: #ffffff;
	margin-bottom: 45px;
}

/*---------------------
  About Us Section
-----------------------*/

.about-us-section {
	background: #191919;
}

.as-pic img {
	min-width: 100%;
}

.as-text {
	padding-top: 30px;
	padding-left: 20px;
}

.as-text.ap-text {
	padding-top: 14px;
}

.as-text .section-title {
	text-align: left;
	margin-bottom: 15px;
}

.as-text p {
	color: #b3b3b3;
}

.as-text p.f-para {
	margin-bottom: 10px;
}

.as-text p.s-para {
	margin-bottom: 37px;
}

.as-text .about-counter .ac-item {
	float: left;
	margin-right: 48px;
	position: relative;
}

.as-text .about-counter .ac-item:after {
	position: absolute;
	right: -20px;
	top: 8px;
	height: 65px;
	width: 1px;
	background: #393939;
	content: "";
}

.as-text .about-counter .ac-item:last-child {
	margin-right: 0;
	padding-right: 0;
}

.as-text .about-counter .ac-item:last-child:after {
	display: none;
}

.as-text .about-counter .ac-item h2 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 10px;
}

.as-text .about-counter .ac-item p {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 0;
}

/*---------------------
  Services Section
-----------------------*/

.services-section {
	background: #00000aff;
	padding-top: 0;
	padding-bottom: 80px;
}

.service-item {
	text-align: center;
	background: #222222;
	padding: 46px 50px 0;
	height: 350px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 30px;
}

.service-item:hover {
	border-bottom: 3px solid #e32879;
	margin-top: -10px;
}

.service-item h4 {
	font-size: 22px;
	color: #ffffff;
	font-weight: 700;
	margin-top: 33px;
	margin-bottom: 25px;
}

/*PRIVEX logo Neon */

#symbol {
	font-family: 'Exo 2', sans-serif;
	font-size: 120px;
	margin-bottom: 20px;
	font-style: italic;
	color: #fff;
	text-transform: uppercase;
	animation: flicker 1.5s infinite alternate;     
  }
  
  #symbol::-moz-selection {
	background-color: var(--neon-border-color);
	color: var(--neon-text-color);
  }
  
  #symbol::selection {
	background-color: var(--neon-border-color);
	color: var(--neon-text-color);
  }
  
  #symbol:focus {
	outline: none;
  }
  
  /* Animate neon flicker */
  @keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #d3d3d3,
            0.1rem 0.1rem 1rem #d3d3d3,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .1rem #fff,
            inset 0 0 .5rem #fff,
            0 0 1rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 1rem var(--neon-border-color),
            inset 0 0 1rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

/*-------------------------------- Respinsive Media Styles --------------------------------*/

@media only screen and (min-width: 1600px) {
	
	.hero-section{
		padding-top: 400;
		padding-bottom: 400px;

	}
}

@media only screen and (min-width: 1200px) {

	.hero-section{
		padding-top: 300px;
		padding-bottom: 300px;
	}
	
	.container {
		max-width: 1170px;
	}
}

@media only screen and (max-width: 992px) {
	#symbol{
		font-size: 80px;
	}

	.hero-section{
		padding-top: 300px;
		padding-bottom: 300px;
	}
}

/* Medium Device: 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.hero-section{
		padding-top: 200px;
		padding-bottom: 200px;
	}

	.as-text .about-counter .ac-item {
		margin-right: 12px;
	}
	.as-text .about-counter .ac-item:after {
		right: -7px;
	}
}

@media only screen and (max-width: 991px) {
	
	.as-text {
		padding-left: 0;
	}
	.as-text.ap-text {
		padding-top: 30px;
	}
}

/* Large Mobile: 480px */

@media only screen and (max-width: 767px) {
	.main-menu {
		text-align: right;
		display: none;
	}
	.slicknav_btn {
		margin: 0;
		border-radius: 0;
		background-color: transparent;
		position: absolute;
		right: 15px;
		top: 20px;
		display: inline-block;
		float: none;
	}
	.slicknav_nav {
		margin-top: -15px;
		background: #181818;
		display: block;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		padding: 0;
	}
	.header-section .container {
		position: relative;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 8px 30px;
		margin: 0;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: #e32879;
		color: #ffffff;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #e32879;
		color: #ffffff;
	}
	.breadcrumb-text {
		text-align: left;
	}
	.counter-item .ci-number {
		position: relative;
		margin-bottom: 15px;
	}
	.counter-item .ci-text {
		padding-left: 0;
	}
	.as-text .about-counter .ac-item {
		margin-right: 20px;
	}
	.as-text .about-counter .ac-item:after {
		right: -11px;
	}
}

.dexi{
	width: 70%;
}

@media only screen and (max-width: 992px) {
	.dexi{
		width: 95%;
	}
}
/* roadmap */

.roadmap_tick{
    visibility: visible;
    vertical-align: middle;
    width: 20px;
    display: inline-block;
    height: auto;
}

.timeline {
    position: relative;
    background: #181818;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    overflow: hidden;
}
.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border-right: 2px dashed #d3d3d3;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}
.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: #bcd0f7;
    font-size: 1.5rem;
}
.timeline-row .timeline-time small {
    display: block;
    font-size: 0.8rem;
}
.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    background: #121212;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 16px;
    width: 16px;
    background: #121212;
}
.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -49px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: #121212;
    border: 2px dashed #d3d3d3;
}
.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}
.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}
.timeline-row .timeline-content i {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #181818;
    margin-bottom: 10px;
    display: inline-block;
}
.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
    display: flex;
}
.timeline-row .timeline-content .thumbs img {
    margin: 5px;
    max-width: 60px;
}
.timeline-row .timeline-content .badge {
    color: #ffffff;
    background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
}
.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
}
.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
}
.timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

@media (max-width: 992px) {

    .timeline {
        padding: 15px;
    }
    .timeline:after {
        border: 0;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
        text-align: left;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:after {
        display: none;
    }
}

/* Countdown */

h1 {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 2em 0;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #F6F4F3;
}

.date-heading{
    font-size: 2em;
}

#timer {
  color: #F6F4F3;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 0.7em;
  letter-spacing: 5px;
}

.days, .hours, .minutes, .seconds {
  display: inline-block;
  background: #E32879;
  color: #fff;
  padding: 40px;
  width: 200px;
  margin-top: 5px;
  border-radius: 5px;
}

/* .days {
  background: #EF2F3C;
}

.hours {
  background: #F6F4F3;
  color: #183059;
}

.minutes {
  background: #276FBF;
}

.seconds {
  background: #F0A202;
} */
.numbers {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 4em;
}

.partner-img{
	filter: grayscale(100%);
}

.partner-img:hover{
	filter: none;
	transition: 0.3s;
}